# Packages required for the validation (update cache on the 2023-12-13)
SMHValidation #v0.0.22
hubUtils
arrow
covidcast
cowplot
data.table
dplyr
ggplot2
ggpubr
gh
glue
grDevices
grid
gridExtra
gtable
lubridate
purrr
readr
remotes
scales
stringr
tibble
tidyr
tidyselect
